.social-media {
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }
}


.header-right {
    margin-top: 8px;

    &__item {
        a {
            font-size: 15px;
            padding-right: 10px;
        }
    }

    &__icon {
        a {
            color: black;
            font-size: 20px;
            padding-right: 1em;
        }
    }
}

.header {
    padding: 20px;
    // border: 1px solid;
}

.nav-item {
    a {
        color: black;
    }

    text-transform: uppercase;
    position: relative;

    &:hover ul {
        visibility: visible;
        background: black;
        transition: all 0.5s ease;
        top: 30px;
    }

    &-menu {
        top: 70px;
        position: absolute;
        visibility: hidden;
        width: 11em;
        padding: 5px;

        a {
            text-transform: capitalize;
            color: white;
            font-size: 15px;
        }
    }
}

.bd-1 {
    border: 1px solid red;
}

.bd-2 {
    border: 1px solid blue;
}

.set-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: top center;
}
.shopnow{
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 3px;
    font-weight: 500;
    font-size: 15px;
}
.header-img {
    &__large {
        height: 640px;
    }
    &__small {
        height: 314px;
        a::after{
            position: absolute;
            background: rgb(235, 2, 2);
            height: 2px;
            width: 83px;
            content: "";
            bottom: 0;
            left: 0;
        }
        p{
            opacity: 0.7;
        }
    }
    &__text {
        margin-top: 12em;
        h1{
            font-family: 'Cookie', cursive;
            font-size: 70px;
        }
        p{
            opacity: 0.6;
        }
        a::after{
            position: absolute;
            background: rgb(235, 2, 2);
            height: 2px;
            width: 83px;
            content: "";
            bottom: 0;
            left: 0;
        }
    }
    &__textsm {
        margin-top: 4em;
    }
    p {
        opacity: 0.5;
        font-size: 15px;
    }
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 15px;
    }
}

.bd-red::after{
    position: absolute;
    background: rgb(235, 2, 2);
    height: 2px;
    width: 20px;
    content: "";
    left: 200px;
}
.product {
    padding-top: 50px;
    &-title{
        padding-bottom: 50px;
        position: relative;
        h4::after{
            position: absolute;
            background: rgb(235, 2, 2);
            height: 2px;
            width: 65px;
            content: "";
            bottom: 55px;
            left: 0;
        }
    }
    &-title__list {
        padding-left: 200px;
        position: relative;
        a {
            color: black;
            margin-right: 30px;
            padding-right: 20px;
        }
    }
    &-item{
        &__img{
            height: 360px;
            position: relative;
            .label{
                position: absolute;
                font-size: 13px;
                text-transform: uppercase;
                color: white;
                padding: 2px 8px;
                left: 10px;
                top: 10px;
                &-new{
                    background: rgb(5, 201, 5);
                }
                &-out{
                    background: black;
                }
                &-sale{
                    background: rgb(175, 4, 4);
                }
            }
        }
        text-align: center;
        &__des{
            padding-top: 20px;
            padding-bottom: 20px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
.rating{
    span{
        color: #e7c116;
        font-size: 15px;
        margin-right: -8px;
    }     
}
.price{
    font-weight: bold;
    font-size: 18px;
}
.banner{
    height: 500px;
    &-slide{
        margin-top: 150px;
        margin-bottom: 150px;
    }
    &-text{
        text-transform: uppercase;
        p{
            color: rgb(235, 2, 2);
            font-size: 20px;
        }
        h1{
            text-transform: capitalize;
            font-family: 'Cookie', cursive;
            font-size: 80px;
        }
        a::after{
            position: absolute;
            background: rgb(235, 2, 2);
            height: 2px;
            width: 100%;
            content: "";
            bottom: 0;
            left: 0;
        }
    }
}
.carousel-indicators{
    button{
        width: 14px !important;
        height: 14px !important;
        border-radius: 50%;
    }
}
.trend{
    margin-top: 100px;
    margin-bottom: 100px;
}
.trend-title{
        padding-bottom: 30px;
        text-transform: uppercase;
        h4{
            position: relative;
            padding-bottom: 5px;
        }
        h4::after{
            position: absolute;
            background: rgb(235, 2, 2);
            height: 2px;
            width: 70px;
            content: "";
            bottom: 0;
            left: 0;
        }
}
.trend-item{
    padding-bottom: 30px;
    &__img{
        padding-right: 20px;
    }
    &__text{
        p{
            margin-bottom: 4px;
        }
    }
}

.discount{
    margin-bottom: 100px;
    &__img{

        img{
            max-width: 100%;
            min-width: 100%;
        }
    }
    &__text{
        height: 380px;
        background: #f4f4f4;
        text-align: center;
        justify-content: center;
        padding: 70px;
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            position: relative;
            padding-bottom: 5px;
        }
        a::after{
            position: absolute;
            background: rgb(235, 2, 2);
            height: 2px;
            width: 100%;
            content: "";
            bottom: 0;
            left: 0;
        }
        &__title{
            position: relative;
            z-index: 1;
            span{
                text-transform: uppercase;
                color: black;
                padding-left: 15px;
            }
            h2{
                color: rgb(235, 2, 2);
                font-size: 60px;
                font-family: 'Cookie', cursive;
                text-transform: capitalize;
            }
            h5{
                padding-left: 20px;
            }
        }
        &__title::after{
            content: "";
            position: absolute;
            background: white;
            left: 120px;
            top: -50px;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            z-index: -1;
        }
    }       
}
.clock{
    margin-top: 50px;
    margin-bottom: 20px;
    ul{
        list-style: none;
        li{
            padding-right: 50px;
            font-size: 15px;
            span{
                font-size: 40px;
                font-weight: bold;
                padding-right: 5px;
            }
        }
    }
}

.services{
    &-item{
        margin-bottom: 50px;
        span{
            color: rgb(235, 2, 2);
            font-size: 50px;
        }
        &__des{
            padding-left: 20px;
            h6{
                text-transform: capitalize;
                font-weight: 700;
                font-size: 17px;
            }
            p{
                font-size: 15px;
                opacity: 0.7;
            }
        }
    }
}

.instagram{
    margin-bottom: 50px;
    &-item{
        position: relative;
        &__img{
            width: 100%;
            height: 10%;
        }
        &__text{
            position: absolute;
            text-align: center;
            top: 90px;
            left: 40px;
            opacity: 0;
            i{
                font-size: 30px;
                padding-bottom: 15px;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    &-item:hover .instagram-item__text{
        opacity: 1;
    }
    &-item:hover .instagram-item__img{
        opacity: 0.2;
        transition: all 0.3s ease;
        // border: 1px solid;
    }
}

.footer{
    &-logo{
        a{
            img{
                padding-bottom: 20px;
            }
        }
        p{
            opacity: 0.7;
        }
    }
    &-payment{
        a{
            img{
                padding-right: 10px;
            }
        }
    }
    &-link{
        h6{
            padding-bottom: 10px;
        }
        a{
            text-decoration: none;
            color: black;
            opacity: 0.7;
        }
        ul{
            list-style: none;
            padding: 0;
            li{
                padding-bottom: 10px;
            }
        }
    }
    &-news{
        h6{
            padding-top: 20px;
            padding-bottom: 10px;
        }
        form{
            position: relative;
            padding-bottom: 25px;
            input{
                height: 50px;
                width: 100%;
                border-radius: 50px;
                padding-left: 30px;
                opacity: 0.7;
                border: 1px solid;
            }
            button{
                position: absolute;
                right: 5px;
                top: 5px;
                background: rgb(235, 2, 2);
                color: white;
                border-radius: 50px;
                height: 40px;
                width: 130px;
                font-weight: bold;
                font-size: 15px;
                border: none;
            }
        }
    }
    &-social{
        margin-bottom: 50px;
        a{
            padding-right: 10px;
            i{
                background: rgb(240, 204, 204);
                color: black;
                font-size: 20px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding-top: 10px;
                padding-left: 11px;
            }
        }
    }
    &-copyright{
        border-top: 1px solid rgb(241, 214, 214);
        text-align: center;
        opacity: 0.7;
        padding: 20px;
    }
}